$primary-color-50: #fff;
$primary-color-100: #e5ecfe;
$primary-color-150: #D5E5FF;
$primary-color-200: #a3c1ef;
$primary-color-300: #008FDD;
$primary-color-400: #163561;

$secondary-color-50: #fafbff;
$secondary-color-100: #ff5050;


$accent-color: #fbb400;
